.item {
	border-radius: 3px;
	border: 1px solid #0000ff;
	margin: 10px;
}

img {
	float: left;
}

.weather-description {
	line-height: 50px;
}

.temp-eve {
	font-size: 70px;
}

span {
	font-size: 40px;
}